.container{
  max-width: 1200px;
  margin: 0 auto;
}

.footerItem{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer{
  width: auto;
  background-color: #080202;
  padding: 100px 0px;
  display: flex;
  justify-content: space-between;
}

.links{
  display: flex;
    flex-direction: column;
    align-items: center;
 
   
}

.links h4{
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.links ul li {
  color: #fff;
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
}

.socials{
  display: flex;
}

.social {
  margin: 0 10px;
  color: white;
  transition: color 0.3s ease;
 
}

.social i{
  font-size: 40px;
  
  margin: 8px 0 0 10px;
}


.instagram:hover{
  color:rgb(196, 73, 93) ;
}



.tiktok:hover{
  color:rgb(58, 52, 53) ;
}

.twitter:hover{
  color:rgb(49, 102, 201) ;

}

.scroll-to-top {
  position: absolute;
  right: 0;

  cursor: pointer;
 
 
}

.scroll-to-top i{
  color: white;
  font-size: 40px;
}






@media(max-width: 991px) {
  .footer {
    padding: 30px;
    flex-direction: column;
    text-align: center;

  }

  .links h4{
    margin: 25px 0px 10px 0px;
  }

  .socials{
    flex-direction: column;
  }

  .social i{
    font-size: 30px;
  }
}